[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1B300104A0083DAF48F1825CC62000F5-if00
restart_method: command

# Printer Controls
[printer]
kinematics: corexy
max_velocity: 400
max_accel: 4000
max_z_velocity: 50
max_z_accel: 400
square_corner_velocity: 5.0

[idle_timeout]
timeout: 3600

[pause_resume]

[respond]

[force_move]
enable_force_move: True

[include klipper_configs/*.cfg]