[servo my_servo]
pin: P2.0
maximum_servo_angle: 180
minimum_pulse_width: 0.001
maximum_pulse_width: 0.0025

[z_calibration]
probe_nozzle_x: 221.000
probe_nozzle_y: 327.70
# #   The X and Y coordinates (in mm) for clicking the nozzle on the
# #   Z endstop.
probe_switch_x: 221.000
probe_switch_y: 322.70
# #   The X and Y coordinates (in mm) for clicking the probe's switch
# #   on the Z endstop.
probe_bed_x: 165
probe_bed_y: 165
# #   The X and Y coordinates (in mm) for probing on the print surface
# #   (e.g. the center point) These coordinates will be adapted by the
# #   probe's X and Y offsets. The default is the relative_reference_index
# #   of the configured bed_mesh. It will raise an error if there is no
# #   probe_bed site and no bed_mesh with a relative_reference_index
# #   configured.
switch_offset: 0.24
# #   The trigger point offset of the used mag-probe switch.
# #   This needs to be fined out manually. More on this later
# #   in this section..
# max_deviation: 1.0
# #   The maximum allowed deviation of the calculated offset.
# #   If the offset exceeds this value, it will stop!
# #   The default is 1.0 mm.
samples: 5
# #   The number of times to probe each point. The probed z-values
# #   will be averaged. The default is from the probe's configuration.
# samples_tolerance: 0.005
# #   The maximum Z distance (in mm) that a sample may differ from other
# #   samples. The default is from the probe's configuration.
# samples_tolerance_retries: 3
# #   The number of times to retry if a sample is found that exceeds
# #   samples_tolerance. The default is from the probe's configuration.
samples_result: median
# #   The calculation method when sampling more than once - either
# #   "median" or "average". The default is from the probe's configuration.
clearance: 15
# #   The distance in mm to move up before moving to the next
# #   position. The default is two times the z_offset from the probe's
# #   configuration.
# position_min: default from "stepper_z:position_min" section.
# #   Minimum valid distance (in mm) used for probing move. The
# #   default is from the Z rail configuration.
# speed: 50
# #   The moving speed in X and Y. The default is 50 mm/s.
# lift_speed: default from "probe:lift_speed" section
# #   Speed (in mm/s) of the Z axis when lifting the probe between
# #   samples and clearance moves. The default is from the probe's
# #   configuration.
# probing_speed: default from "stepper_z:homing_speed" section.
# #   The fast probing speed (in mm/s) used, when probing_first_fast
# #   is activated. The default is from the Z rail configuration.
# probing_second_speed: default from "stepper_z:second_homing_speed" section.
# #   The slower speed (in mm/s) for probing the recorded samples.
# #   The default is second_homing_speed of the Z rail configuration.
# probing_retract_dist: default from "stepper_z:homing_retract_dist" section.
# #   Distance to backoff (in mm) before probing the next sample.
# #   The default is homing_retract_dist from the Z rail configuration.
probing_first_fast: true
# #   If true, the first probing is done faster by the probing speed.
# #   This is to get faster down and the result is not recorded as a
# #   probing sample. The default is false.
# start_gcode: _DOCK_PROBE
#   A list of G-Code commands to execute prior to each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   attach the probe.
before_switch_gcode: _ATTACH_PROBE
#   A list of G-Code commands to execute prior to each probing on the
#   mag-probe. See docs/Command_Templates.md for G-Code format. This can be
#   used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
end_gcode: _DOCK_PROBE

[gcode_macro _ATTACH_PROBE]
gcode:
    SAVE_GCODE_STATE NAME=_ATTACH_PROBE
    SET_GCODE_OFFSET Z=0.0         ; reset offset - will be restored
    G90                            ; absolute positioning
    G0 Z35 F540
    SET_SERVO SERVO=my_servo ANGLE=30
    G4 P500
    G0 X87 Y330 F12000      ; move to mag-probe
    G0 Z25 F540
    G0 X120 F6000                  ; move out
    G0 Z40 Y310 F1000                    ; move up and forwa  rd
    SET_SERVO SERVO=my_servo ANGLE=180
    G4 P500
    SET_SERVO SERVO=my_servo WIDTH=0
    RESTORE_GCODE_STATE NAME=_ATTACH_PROBE

[gcode_macro _DOCK_PROBE]
gcode:
    SAVE_GCODE_STATE NAME=_DOCK_PROBE
    SET_GCODE_OFFSET Z=0.0         ; reset offset - will be restored
    G90                            ; absolute positioning
    G0 Z35 F540
    SET_SERVO SERVO=my_servo ANGLE=30
    G4 P500
    G0 X120 Y330 F12000 
    G0 Z24 F540
    G0 X87 F3000                 ; move in
    G0 Z40 Y310 F1000                   ; move up and forward
    SET_SERVO SERVO=my_servo ANGLE=180
    G4 P500
    SET_SERVO SERVO=my_servo WIDTH=0
    RESTORE_GCODE_STATE NAME=_DOCK_PROBE